<button (click)="createUser()">Create New User</button>
<button (click)="performLogin()">User Login</button>

<!-- header  -->

<h1>{{ title }}</h1>

<button (click)="articlesService.get()">Get Articles</button>
<button (click)="PostInfo()">Post Article</button>

<div *ngIf="articlesService.loading">Now Loading...</div>

<ul *ngIf="articlesService.loaded">

  <li *ngFor="let artc of articlesService.articles">
    <small>Article ID: {{ artc.articleId }},   </small> 
    <small>Title: {{ artc.title }},   </small>
    <small>Description: {{ artc.description }},   </small>
    <small>body: {{ artc.body }}</small>
  </li>

</ul>

<!-- // footer -->

<p>articleCount: {{ articlesService.articlesCount }}</p>
<!-- <p>username: {{ UserService.User }}</p> -->