<div class="pagecont">

  <!-- header  -->
  <div class="header">

    <p>Welcome {{ usernameL.value }}</p>

    <div>
      Create New User<br>
      <input placeholder="username" type="username" #usernameC />
      <input placeholder="email" type="email" #emailC />
      <input placeholder="password" type="password" #passwordC />
      <button (click)="performCreateUser(usernameC.value,emailC.value,passwordC.value)">Create New User</button>
    </div>

    <div>
      User Login<br>
      <input placeholder="username" type="username" #usernameL />
      <input placeholder="email" type="email" #emailL />
      <input placeholder="password" type="password" #passwordL />
      <button (click)="performLogin(usernameL.value,emailL.value,passwordL.value)">User Login</button>

      <h1>{{ title }}</h1>
      <button (click)="articlesService.get()">Get Articles</button>
      <button (click)="PostInfo()">Post New Article</button>
    </div>

  </div>

  <!-- body -->
  <div class="body">


    <div *ngIf="articlesService.loading">Now Loading...</div>

    <ul class="listcont" *ngIf="articlesService.loaded">


      <li class="articlecont" *ngFor="let art of articlesService.articles">

        <small>Article ID: {{ art.articleId }}, </small>
        <small>Title: {{ art.title }}, </small> 
        <br>
        <small>Description: {{ art.description }}, </small>
        <br>
        <small>body: {{ art.body }}</small>

      </li>


    </ul>

  </div>

  <!-- // footer -->
  <div class="footer">
    <p>articleCount: {{ articlesService.articlesCount }}</p>
  </div>

  <!-- <p>username: {{ user.username}}</p>
<p>username: {{ user.email}}</p>
<p>username: {{ user.password}}</p> -->


</div>